body {
    background-color: rgb(255, 33, 185);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
}

a {
    color: black;
}
a:hover {
    color: rgb(0, 255, 34);
    font-size: medium;
}